
fastapi
uvicorn[standard]
sqlalchemy
python-multipart
requests
numpy>=1.22,<2.0
pandas
scikit-learn
shap
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

pillow
scikit-image
mediapipe==0.10.13
captum
google-auth
xgboost==1.7.6
joblib
tqdm
matplotlib
python-jose[cryptography]
passlib[bcrypt]
pydantic
psycopg2-binary
firebase-admin
gunicorn
opencv-python-headless

